body{
background-color: black;
}
img{
  margin-left: 30px;
}
ul{
margin: 0px;
padding: 0px;
list-style: none;
font-family: 'constantia';

}

 ul li{
  float: right;
  height: 40px;
   width: 21% ;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  opacity: .8px;
}
ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
  display: block;
  } 
ul li a:hover{
background-color: #0367fd;
}
ul li ul li{
 display: none;
 width: 255px;
 background-color: dimgray;
 opacity: 90%;

}
ul li:hover ul li{
display: block;
}
.box1{height: 600px;
           width: 100%;
background-image: url('hpbg.jpg');
background-size: cover;
 background-position: center;
 background-attachment: fixed;
 display: table;
 border: 0px;
}
.box2{
  height: 1600px;
           width: 100%;
background-color: white;
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
 display: table;
}
a.button{
    margin:30px;
  text-decoration: none;
  padding: 15px 70px;
   font-family: "Constantia";
   border-radius: 25px;
}
.si{
 background-color: #0367fd; 
 color: white;
}
.su{
  background-color: white;
  color: black;
}
.container{
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -15%);
}
.text1{
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -55%);
}
h1{
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: "Constantia";
}
p{
  text-align: center;
  color: ghostwhite;
  font-size: 25px;
  font-family: "Constantia";
}
h2{
  text-align: center;
  font-family: "Gadugi";
  font-size: 70px;
  color: black;
}
header{
  background-color: black;
  position: fixed;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40px;
}
.brand{
  margin: 10px;
}

main{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 350px;
  grid-gap: 10px;
  margin-left: 8% ;

}
.info1{
  background-color: orange;
  border-radius: 25px;
  font-size: 20px;
  font-family: 'Gadugi';
  text-align: center;
}
.info2{
  background-color: orange;
  border-radius: 25px;
    font-size: 20px;
  font-family: 'Gadugi';
}
.info3{
  background-color: orange;
  border-radius: 25px;
    font-size: 20px;
  font-family: 'Gadugi';
}
footer{
  background-color: dimgray;
  height: 275px;
  color: white;
  font-family: 'Contantia';
}
.foot{
  margin-left: 30px;
  color: white;
  text-decoration: none;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  font-family: 'Gadugi';
}
a{
  color: white;
  text-decoration: none;
  font-family: 'Gadugi';
}
h3{
  margin: 25px;
  font-size: 50px;
  font-family: 'Gadugi';
}
/*font{
  font-size: 30px;
  font-family: 'Gadugi';
  margin-left: 300px;
  margin-top: 0px;
}*/
.msg{
  margin-right: 50px;
}
.ft{
   font-size: 30px;
  font-family: 'Gadugi';
  margin-left: 300px;
  margin-top: 0px;
}